@import '../../../assets/styles/index';

.list {
  width: 32%;
  .ant-list-items {
    height: 77vh;
    overflow-y: scroll;
    padding: 0 5px;
    margin-top: -12px;
    .ant-list-item {
      margin-left: 1.3%;
      .item {
        width: 100%;
      }
    }
  }
}

.spaceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.draggableContainer {
  width: 32%;
  height: 77vh;
  overflow-y: scroll;
  padding: 0 5px;
  .item {
    height: 58.8px;
  }
}

.columnTitleWrapper {
  padding: 15px;
  text-align: center;
  vertical-align: center;
}
