@import '../../../../../assets/styles/index.scss';

.userDailyStatsBtn {
  position: absolute;
  right: 10px;
  top: 7px;
  z-index: 10000;
}

.exportToExcelBtn {
  position: absolute;
  left: 10px;
  top: 7px;
  z-index: 10000;
  display: flex;
  align-items: center;
}
